header{
  overflow: hidden;
}

body {

  font-family: 'Noto', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', serif;

  margin:0;

  width:auto;
  max-width: none;
  min-width:200px;

  min-height: 100vh;

  background-image: url("../resources/background/bricks.png");
  background-position:center center;
  image-rendering:crisp-edges;

  background-size:160px;
  background-repeat:repeat;
  
}



footer{
  
}


.content{
  max-width: 2000px;
}

.page {
  width: 980px;
  margin: 0 auto;
}
.header {
  height: fit-content;
  background-color: rgba(169, 169, 169, 0.61);
  border-radius: 5px;
}
.content {
  width: 680px;
  float: left;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 5px;
}
.sidebar {
  width: 300px;
  float: right;
}
.footer {
  clear: both;
}
img.title
{
  margin-top: 1%;
  width:70%;
}


@media screen and (max-width: 1000px) {
  .page {
    width: 98%;
  }
  .content {
    width: 70%;
  }
  .sidebar {
    width: 30%;
  }
  img.title
  {
  width:70%;
  }
}


@media screen and (max-width: 700px) {
  .page {
  }
  .content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  img.title
  {
    width: 100%;
  }
}


.area {
  width:initial;
  flex-wrap: wrap;
  display: flex;
}
.tab_class {
  width: calc(100%/5);

  line-height:15px;
  font-size: 15px;
  text-align:center;

  display: block;
  float: left;
  order: -1;

  -webkit-transition: all200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 20px;
}

.tab_class{
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0 0 2px inset;
}

.tab_class:hover{
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0 0 40px inset;
}


input[name="tab_name"] {
  display: none;
}
input:checked + .tab_class {
  background-color: rgba(30, 22, 54, 0.6);

  color: rgb(255, 255, 255);
}
.content_class {
  display: none;
  width: 100%;
  text-align: center;

}
#not_center{
  text-align: left;
}
input:checked + .tab_class + .content_class {
  display: block;
}


@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 700px) {
  .tab_class {
  height:40px;
  padding-top: 10px;  
  }
}

img.saigen{
  width:96%;
}
img.history{
  width:90%;
}

.intro{
  background-color: rgb(51, 51, 51);
  color:aliceblue;
}

.SandboxRoot.env-bp-970 .timeline-Tweet-text {
  font-size: 10.5pt !important;
  line-height: 14pt!important;
  }

.SandboxRoot.env-bp-820 .timeline-Tweet-text {
  font-size: 10.5pt !important;
  line-height: 14pt!important;
  }

.SandboxRoot.env-bp-660 .timeline-Tweet-text {
  font-size: 10.5pt !important;
  line-height: 14pt!important;
  }

.SandboxRoot.env-bp-550 .timeline-Tweet-text {
  font-size: 10.5pt !important;
  line-height: 14pt!important;
  }

.SandboxRoot.is-touch .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
}
  
.twitter_timeline{
  width:100%
}

.text{

  vertical-align: middle;


}
.button_text{
  height: 100%;

  line-height: 100%;

  align-items: center;
}
